/* CaptionTable.css */
.caption-table-container {
  margin-top: 20px;
}

.caption-table {
  width: 100%;
  border-collapse: collapse;
}

.caption-table th, .caption-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.caption-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.delete-caption-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-caption-button:hover {
  background-color: #ff1a1a;
}


.grey-line {
  border: 0;
  height: 1px;
  background: lightgrey;
  margin: 50px 0; /* Adjust the margin as needed */
}
